* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.cover {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.cover img,
.cover video {
  display: block;
  height: auto;
  left: auto;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  right: auto;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;
}

@supports (transform: translateX(-50%)) {
  .cover img,
  .cover video {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .cover img,
  .cover video {
    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .cover img,
  .cover video {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
  }
}
.new {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 10vh;
  display: flex;
  justify-content: center;
}
nav {
  height: 10vh;
  width: 100%;
  font-size: 2rem;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;

  .h {
    font-size: 40px;
    color: white;
    text-align: center;
  }
}

@media all and (max-width: 570px) {
  nav {
    background-color: black;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  nav ul {
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    text-align: center;
    margin-left: 10px;
  }
  nav ul li a {
    font-size: 25px;
    padding: 0;
  }

  .container .header {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: left;
}

// h1 {
//   font-family: "Raleway";
//   text-align: center;
//   color: white;
//   font-size: 40px;
// }

.about {
  height: 100vh;
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}
.A {
  font-size: 80px;
  text-align: center;
}

.image {
  border-radius: 10%;
  border: 5px solid black;
}

.next {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.section-follow {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-bottom: 5px solid black;
}

.social-media {
  font-size: 60px;
  display: flex;
  justify-content: space-between;

  i {
    color: black;
  }
}

.section-follow {
  height: 20vh;
  width: auto;
}
.section-follow .social-media ul li a {
  text-decoration: none;
}

.textbox {
  width: 50%;
  align-items: center;
  padding: 30px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  p {
    font-size: 20px;
    font-family: "Raleway";
    text-align: center;
  }
}

@media (max-width: 578px) {
  .next {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
  .textbox {
    width: 100%;
    p {
      font-size: 13px;
      text-align: center;
    }
  }

  .section-follow .follow-me:after {
    height: 20vh;
  }
  .social-media {
    display: flex;
  }
}

.project {
  background-color: white;
  height: 100vh;
  border-bottom: 5px solid black;
  // h1 {
  //   text-align: center;
  // }
}
.P {
  font-size: 60px;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.box {
  border: 2px solid black;
  height: 326px;
  width: 100%;
  img {
    height: 270px;
    width: 100%;
  }
  h3 {
    margin: 0;
    text-align: center;
  }
}

.code {
  text-align: center;
  margin: 5px;
}
a {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 630px) {
  .project {
    height: 100%;
  }
  .wrapper {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
@media (max-height: 800px) {
  .project {
    height: 100%;
  }
}

.inner {
  background-color: white;
  height: 100vh;
  border-bottom: 5px solid black;

  // h1 {
  //   text-align: center;
  // }
}

.containerim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 80px;
}

.S {
  font-size: 80px;
  text-align: center;
}
.skill-box {
  padding: 1rem;
  color: black;
  cursor: pointer;
  p {
    text-align: center;
  }
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  .img {
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.skill-title img {
  height: 180px;
  width: 180px;
}

.img img:hover {
  box-shadow: 10px 10px 90px black;
  cursor: pointer;
}

.skill-title h3 {
  color: black;
  margin: 0.5rem;
  font-size: 30px;
}
.skill-icon {
  width: 50px;
}
@media (max-width: 890px) {
  .inner {
    height: 100%;
    width: 100%;
    // margin-top: 200px;
  }
  .containerim {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
@media (max-height: 600px) {
  .inner {
    height: 100%;
  }
}
