* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.cover {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.cover img,
.cover video {
  display: block;
  height: auto;
  left: auto;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  right: auto;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;
}

@supports ((-webkit-transform: translateX(-50%)) or (transform: translateX(-50%))) {
  .cover img,
  .cover video {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (min-aspect-ratio: 16 / 9) {
  .cover img,
  .cover video {
    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
  }
}

@media screen and (max-aspect-ratio: 16 / 9) {
  .cover img,
  .cover video {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
  }
}

.new {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  height: 10vh;
  width: 100%;
  font-size: 2rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 300px;
}

.header .h {
  font-size: 50px;
  color: white;
  text-align: center;
}

@media all and (max-width: 570px) {
  nav {
    background-color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 10px;
  }
  nav ul li a {
    font-size: 25px;
    padding: 0;
  }
  .container .header {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.about {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}

.A {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.image {
  border-radius: 10%;
  border: 5px solid black;
}

.next {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.social-media {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media i {
  color: black;
}

.section-follow {
  height: 20vh;
  width: auto;
}

.section-follow .social-media ul li a {
  text-decoration: none;
}

.textbox {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.textbox p {
  font-size: 20px;
  font-family: "Raleway";
  text-align: center;
}

@media (max-width: 578px) {
  .about {
    height: 100%;
  }
  .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 75vh;
  }
  .textbox {
    width: 100%;
  }
  .textbox p {
    font-size: 13px;
    text-align: center;
  }
  .section-follow .follow-me:after {
    height: 20vh;
  }
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.project {
  background-color: white;
  height: 100vh;
}

.P {
  font-size: 60px;
  text-align: center;
  height: 10vh;
}

.wrapper {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.box {
  border: 2px solid black;
  height: 326px;
  width: 100%;
}

.box img {
  height: 270px;
  width: 100%;
}

.box h3 {
  margin: 0;
  text-align: center;
}

.code {
  text-align: center;
  margin: 5px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-weight: bold;
}

@media (max-width: 720px) {
  .project {
    height: 100%;
  }
  .wrapper {
    height: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 20px;
  }
  .p {
    height: 10%;
  }
}

@media (max-height: 1000px) {
  .project {
    height: 100%;
  }
  .wrapper {
    height: 100%;
    margin-bottom: 5px;
  }
  .P {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.containerim {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 80px;
}

.S {
  font-size: 60px;
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

.skill-box {
  padding: 1rem;
  color: black;
  cursor: pointer;
}

.skill-box p {
  text-align: center;
}

.skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill-title .img {
  width: 180px;
  height: 180px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-title img {
  height: 180px;
  width: 180px;
}

.img img:hover {
  -webkit-box-shadow: 10px 10px 90px black;
          box-shadow: 10px 10px 90px black;
  cursor: pointer;
}

.skill-title h3 {
  color: black;
  margin: 0.5rem;
  font-size: 30px;
}

.skill-icon {
  width: 50px;
}

@media (max-width: 890px) {
  .inner {
    height: 100%;
    width: 100%;
  }
  .containerim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

@media (max-height: 800px) {
  .inner {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */