* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
  height: 12vh;
  background-color: black;
}

nav {
  z-index: 10;
  font-family: "Raleway";
  width: 100%;
  transition: 0.6s;
  height: 100%;
}
.new {
  border-bottom: 5px solid black;
}

.menu-btn {
  display: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
}
nav ul li {
  display: flex;
}

nav ul a {
  text-decoration: none;
  color: white;
  margin: 32px;
  font-size: 20px;
  margin-right: 40px;
  text-transform: uppercase;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 30%;
  margin-top: 5px;
  background: white;
  transition: widht 0.3s;
}

nav ul li a:hover:after {
  width: 100%;
  transition: width 0.3s;
}

.header {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: left;
  background-color: orangered;
}

h1 {
  font-family: "Raleway";
  text-align: center;
  color: black;
  font-size: 40px;
}

.section-follow {
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: orangered;
  border-bottom: 5px solid black;
}

.social-media {
  font-size: 60px;
  display: flex;
  justify-content: space-between;

  li {
    color: black;
  }
}

@media (max-width: 578px) {
  nav {
    display: flex;
    position: fixed;
    height: 100vh;
    transform: scaleY(0) translateY(1200px);
    background: rgba(255, 255, 255, 0.8);
    transition: 1s;
  }

  nav.active {
    transform: scaleY(1) translateY(0px);
  }

  nav ul {
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  nav ul li {
    padding: 10px 0;
    justify-content: center;
  }

  nav li a {
    font-size: 20px;
    position: relative;
    color: black;
  }

  nav ul li a:hover:after {
    width: 100%;
    transition: width 0.3s;
    background-color: black;
  }

  .menu-btn {
    z-index: 10;
    color: #474747;
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    font-size: 64px;
    transition: 0.7s;
    font-family: "Roboto Slab";
    cursor: pointer;
    transform: rotate(0deg);
  }

  .menu-btn.active {
    transform: rotate(45deg);
  }
}
h1 {
  height: 10vh;
}
//About section
.about {
  height: 100vh;
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: orangered;
  // border-bottom: 2px solid black;
}

.image {
  border-radius: 10%;
  border: 5px solid black;
}

.next {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.section-follow {
  height: 20vh;
  width: auto;
}
.section-follow .social-media ul li a {
  text-decoration: none;
}

.textbox {
  width: 50%;
  align-items: center;
  padding: 30px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  p {
    font-size: 20px;
    font-family: "Raleway";
    text-align: center;
  }
}

@media (max-width: 578px) {
  .next {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
  .textbox {
    width: 100%;
    p {
      font-size: 13px;
      text-align: center;
    }
  }
  h1 {
    height: 5vh;
  }

  .section-follow .follow-me:after {
    height: 20vh;
  }
  .social-media {
    display: flex;
  }
}

//Project section
.project {
  background-color: orangered;
  height: 100vh;
  h1 {
    text-align: center;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.box {
  border: 2px solid black;
  height: 350px;
  width: 100%;
  img {
    height: 270px;
    width: 100%;
  }
  h3 {
    margin: 0;
    text-align: center;
  }
}
.box:hover {
  box-shadow: 10px 10px 50px black;
  cursor: pointer;
}

.code {
  text-align: center;
  margin: 10px;
}
a {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 630px) {
  .project {
    height: 100%;
  }
  .wrapper {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
